{% extends 'base.html.twig' %}

{% block title %}PHP Note{% endblock %}

{% block body %}
  <h1>Twig Index</h1>
  <h1>Hello {{ name }}</h1>

  {% if articles %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Article Title</th>
          <th>Article Author</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for article in articles %}
        <tr>
          <td>{{ article.title }}</td>
          <td>{{ article.author }}</td>
          <td><a class="btn btn-dark" href="/article/{{ article.id }}">Show</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No Articles to display</p>
  {% endif %}
{% endblock %}
