{% extends 'base.html.twig' %}

{% block title %}PHP Note{% endblock %}

{% block body %}
  <h1>{{ article.title }}</h1>
  <h3>By: {{ article.author }}</h3>
  <p>{{ article.body }}</p>
  <hr>
  <a href="/">Go Back</a>
{% endblock %}

